@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Plak';
  src: url('@/assets/fonts/Neue Plak Condensed Black.ttf') format('truetype'),
    url('@/assets/fonts/Neue Plak Condensed Black.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Plak';
  src: url('@/assets/fonts/Neue Plak Condensed Bold.ttf') format('truetype'),
    url('@/assets/fonts/Neue Plak Condensed Bold.woff') format('woff');

  font-weight: bold;
}

@font-face {
  font-family: 'Plak';
  src: url('@/assets/fonts/Neue Plak Condensed SemiBold.woff') format('woff'),
    url('@/assets/fonts/Neue Plak Condensed SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Plak';
  src: url('@/assets/fonts/Neue Plak Condensed Regular.woff') format('woff'),
    url('@/assets/fonts/Neue Plak Condensed Regular.woff') format('woff');
  font-weight: normal;
}

$font-xs: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-xl: 24px;
$font-2xl: 28px;
$font-3xl: 32px;
$font-4xl: 36px;
$font-5xl: 50px;
